html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header__burger {
  position: relative;
  display: none;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  background: url("../img/olga_photo.jpg") no-repeat right;
}

.nav-mobile {
  display: none;
}

.header__logo {
  margin-right: 400px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 52px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  text-decoration: none;
  border-bottom: 2px solid #1a1a1a;
}

.header-btn__link:hover,
.header-btn__link:active,
.write-me__button:hover,
.write-me__button:active,
.submit__form-button:hover,
.submit__form-button:active {
  border: 2px solid #1a1a1a;
}

.header-btn__link {
  display: block;
  width: 190px;
  height: 55px;
  font-weight: 600;
  background: #ffffff;
  border: 1px solid #1a1a1a;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
  color: #1a1a1a;
  text-align: center;
  padding-top: 17px;
}

.about .wrapper {
  display: flex;
}

.header__title {
  margin-top: 49px;
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 10px;
}

.header__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 18px;
}

.about__content {
  width: 100%;
}

.about__text {
  width: 490px;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
}

.about__bold {
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
}

.about__infographics {
  margin-bottom: 40px;
}

.about__years {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 72px;
  padding-top: 40px;
}

.about__years-links {
  display: block;
  width: 75px;
  height: 34px;
  align-items: center;
  padding: 3px 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #727181;
  margin-right: 8px;
}

.about__years-links:last-child {
  width: 115px;
}

.about__years-links:focus {
  color: #ffffff;
  background: #ff5058;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.about__years-links:hover {
  border: 1px solid #ff5058;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.principles__list {
  display: flex;
  flex-wrap: nowrap;
}

.principles__item {
  width: calc(100% / 3);
  margin-right: 47px;
}

.principles__item:last-child {
  margin-right: 0;
}

.principles__img {
  margin-bottom: 40px;
}

.title {
  font-weight: 800;
  font-size: 42px;
  line-height: 58px;
}

.principles__title {
  width: 545px;
  margin-bottom: 123px;
  padding-top: 70px;
}

.principles__title::before {
  content: "";
  float: left;
  display: block;
  background: url("../img/line.svg");
  width: 6px;
  height: 92px;
  margin-right: 14px;
  margin-top: 10px;
}

.principles__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 15px;
}

.principles__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2b2b2b;
  margin-bottom: 80px;
}

.cost__mobile,
.cost__burger {
  display: none;
}

.cost__title {
  margin-bottom: 10px;
}

.cost__title::before,
.tools__title::before,
.reviews__title::before,
.work-style__title::before,
.customers__title::before,
.contacts__title::before {
  content: "";
  float: left;
  display: block;
  background: url("../img/line2.svg");
  width: 6px;
  height: 36px;
  margin-right: 14px;
  margin-top: 10px;
}

.cost__subtitle {
  width: 365px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 20px;
  margin-bottom: 80px;
}

.cost__row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6da;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.cost__row.first {
  padding-bottom: 9px;
}

.cost__row.last {
  border: 0;
  margin-bottom: 50px;
}

.cost__item.main {
  margin-right: 190px;
  width: 300px;
  text-align: left;
}

.cost__item {
  text-align: center;
  width: 200px;
}

.cost__item:last-child {
  margin-right: 0;
}

.cost__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #1a1a1a;
  margin-bottom: 5px;
}

.cost__item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #727181;
}

.cost__info {
  width: 650px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #727181;
  margin-bottom: 76px;
}

.write-me {
  margin-bottom: 40px;
}

.write-me__content {
  background: url("../img/bg.png") no-repeat center center;
  max-width: 1200px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.write-me__text {
  width: 390px;
  height: 198px;
  margin-left: 100px;
  padding-top: 51px;
  padding-bottom: 51px;
}

.write-me__title,
.submit__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 8px;
}

.write-me__subtitle,
.submit__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 30px;
}

.write-me__form {
  padding-top: 122px;
  margin-right: 100px;
}

.write-me__button,
.submit__form-button {
  width: 190px;
  height: 55px;
  background: #ffffff;
  border-radius: 8px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1a1a1a;
}

.write-me__button a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 16px;
  line-height: 22px;
}

.tools__title,
.work-style__title {
  padding-top: 69px;
  margin-bottom: 80px;
}

.tools__item-title,
.work-style__item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 15px;
}

.tools__item-text,
.work-style__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2b2b2b;
  margin-bottom: 80px;
}

.tools__item-text.last {
  margin-bottom: 0;
}

.tools__cols,
.work-style__cols {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.tools__col,
.work-style__col {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.tools__col.second {
  margin-top: -63px;
}

.tools__bottom-image,
.work-style__bottom-image {
  margin-bottom: 50px;
}

.reviews__slider .owl-stage-outer {
  padding: 10px;
}

.reviews__title {
  padding-top: 70px;
  margin-bottom: 45px;
}

.reviews__item {
  width: 370px;
  height: 461px;
  padding: 30px;
  margin-right: 30px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(1, 54, 87, 0.11);
}

.reviews__item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.reviwes__item-text {
  width: auto;
  height: 280px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #2b2b2b;
}

.reviwes__footer {
  position: relative;
}

.reviwes__devider {
  margin-top: 21px;
  margin-bottom: 21px;
}

.reviwes__item-author {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #2b2b2b;
  margin-bottom: 5px;
}

.reviwes__item-position {
  width: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #727181;
}

.reviwes__quotes {
  position: absolute;
  right: 0;
  top: 45%;
}

.reviews .owl-theme .owl-nav {
  text-align: right;
  margin-right: 20px;
  position: absolute;
  right: 0;
  top: -90px;
}

.reviews .owl-carousel .owl-nav button.owl-prev {
  margin-right: 20px;
}

.work-style__item-text.last {
  margin-bottom: 50px;
}

.work-style__col.second {
  margin-top: -43px;
}

.customers__title {
  padding-top: 69px;
}

.customers,
.submit {
  margin-bottom: 40px;
}

.customers__logos {
  display: flex;
  flex-wrap: wrap;
  width: 1064px;
  height: 458px;
  margin: 0 auto;
  padding-left: 80px;
  align-items: center;
}

.customers__link {
  display: block;
}

.customers__link.first {
  margin-right: 230px;
}

.customers__link.second {
  margin-right: 225px;
}

.customers__link.fourth,
.customers__link.fifth {
  margin-right: 230px;
}

.customers__link:nth-child(3n) {
  margin-right: 0;
}

.customers .owl-carousel .owl-nav button.owl-prev,
.customers .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
}

.customers .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.customers .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.submit__content {
  background: url("../img/submit-bg.png") no-repeat center center;
  max-width: 1200px;
  height: 465px;
  display: flex;
  justify-content: space-between;
}

.submit__text {
  width: 387px;
  height: 128px;
  margin-left: 100px;
  padding-top: 111px;
  padding-bottom: 226px;
}

.submit__subtitle {
  padding-top: 5px;
}

.submit__form {
  width: 513px;
  margin-top: 110px;
  margin-right: 100px;
  margin-left: 50px;
}

.submit__form-field {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 19px;
  color: #ffffff;
}

.submit__form-field:focus,
.submit__form-field:active {
  border-bottom: 2px solid #ffffff;
}

.submit__form-field::placeholder {
  font-size: 400px;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 17px;
}

.agreement {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 16px;
}

input[type="text"]:valid,
input[type="email"]:valid {
  background: url("../img/success.svg") no-repeat;
  background-size: 18px;
  background-position: right;
}

input:not(:placeholder-shown) {
  background: url("../img/error.svg") no-repeat;
  background-size: 18px;
  background-position: right;
}

.submit__form-button {
  display: block;
}

.submit__checkbox {
  width: 271px;
  display: flex;
  flex-wrap: nowrap;
}

.submit__checkbox-link,
.submit__checkbox-text {
  font-size: 400px;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.checkbox {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.submit__checkbox-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../img/check_box_.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
  margin-right: 19px;
  float: left;
}

.checkbox:checked ~ .submit__checkbox-text::before {
  background-image: url("../img/check_box_active.svg");
}

.contacts__content {
  padding-top: 69px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contacts__title {
  margin-bottom: 32px;
}

.socials__item {
  margin-bottom: 15px;
}

.socials__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2b2b2b;
  margin-left: 15px;
}

.socials__link.whatsup {
  text-decoration: none;
}

.footer {
  min-height: 104px;
  background-color: #1a1a1a;
}

.footer__content {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.footer__information {
  display: flex;
  flex-wrap: nowrap;
  width: 755px;
  justify-content: space-between;
}

.footer__info-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.footer__info-item.first {
  width: 215px;
}

.footer__info-item.second {
  width: 160px;
}

.footer__info-item.third {
  width: 255px;
}

.footer__info-item:last-child {
  margin-right: 0;
}

.footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  header {
    margin-bottom: 10px;
  }

  .header__wrapper {
    background: url("../img/olga_photo-mob.svg") no-repeat top 200px left;
  }

  .header__titles {
    order: 1;
  }

  .header__button {
    padding-top: 300px;
    order: 2;
    padding-bottom: 20px;
  }

  .header-btn__link {
    width: 300px;
    height: 45px;
    font-size: 14px;
    line-height: 19px;
    padding-top: 12px;
  }

  .header__title {
    font-size: 26px;
    line-height: 34px;
  }

  .header__subtitle {
    font-size: 15px;
    line-height: 25px;
  }

  .about__content {
    flex-wrap: wrap;
    order: 3;
    padding-top: 40px;
  }

  .about__text {
    width: 60%;
  }

  .about__years {
    padding-top: 30px;
  }

  .principles__list {
    width: 480px;
  }

  .principles__title {
    width: 290px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -1px;
    margin-bottom: 40px;
    padding-top: 0;
  }

  .principles__list {
    flex-wrap: wrap;
  }

  .principles__item {
    width: 100%;
    margin-right: 0;
  }

  .principles__img {
    width: 140px;
    margin-bottom: 19px;
  }

  .principles__subtitle {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .principles__text {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  .cost__subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .cost__row {
    border-bottom: 1px solid #2b2b2b;
  }

  .cost__item.main {
    margin-right: 0;
  }

  .write-me {
    margin-bottom: 70px;
  }

  .write-me__content {
    border-radius: 8px;
    align-items: center;
  }

  .write-me__title {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1%;
  }

  .write-me__subtitle {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
  }

  .write-me__subtitle:last-child {
    margin-bottom: 0;
  }

  .write-me__text {
    height: auto;
    margin-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .write-me__form {
    padding-top: 0;
  }

  .write-me__button {
    width: 170px;
  }

  .principles__title::before,
  .tools__title::before,
  .work-style__title::before,
  .customers__title::before {
    content: "";
    background: url("../img/line-long-mob.svg");
    width: 4px;
    height: 53px;
  }

  .tools {
    margin-bottom: 50px;
  }

  .tools__title {
    width: 200px;
    padding-top: 0;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 50px;
  }

  .tools__col.first {
    margin-bottom: 10px;
  }

  .tools__col.first::before {
    content: "";
    display: block;
    background: url("../img/ill-mob1.png") no-repeat;
    width: 256px;
    height: 186px;
    margin-bottom: 19px;
  }

  .tools__col.second::before {
    content: "";
    display: block;
    background: url("../img/ill-mob2.png") no-repeat;
    width: 247px;
    height: 278px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .reviews__title {
    font-size: 24px;
    line-height: 34px;
    padding-top: 0;
  }

  .reviews .owl-theme .owl-nav {
    top: -75px;
  }

  .work-style {
    margin-bottom: 40px;
  }

  .work-style__title {
    width: 160px;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 31px;
    padding-top: 0;
  }

  .tools img,
  .work-style__item img {
    display: none;
  }

  .work-style__item-text.last {
    margin-bottom: 0px;
  }

  .tools__cols,
  .work-style__cols {
    flex-wrap: wrap;
  }

  .work-style__col.first {
    margin-bottom: 50px;
  }

  .work-style__col.first::before {
    content: "";
    display: block;
    background: url("../img/ill1-mob.png") no-repeat;
    width: 246px;
    height: 206px;
    margin-bottom: 19px;
  }

  .work-style__col.second::before {
    content: "";
    display: block;
    background: url("../img/ill2-mob.png") no-repeat;
    width: 247px;
    height: 201px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .tools__item-title,
  .work-style__item-title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .tools__item-text,
  .work-style__item-text {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .customers__title {
    width: 284px;
    font-size: 24px;
    line-height: 34px;
    padding-top: 0;
  }

  .submit {
    margin-bottom: 50px;
  }

  .submit__content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .submit__text {
    width: 300px;
    margin: 0;
    padding: 0;
    margin-top: -120px;
    margin-right: 20px;
  }

  .submit__form {
    width: 270px;
    height: 230px;
    margin: 0;
    margin-bottom: 0;
  }

  .submit__form-field {
    padding-left: 21px;
    padding-right: 21px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .submit__form-field::placeholder {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 13px;
  }

  input[type="text"]:valid,
  input[type="email"]:valid {
    background-position: center right 15px;
  }

  input:not(:placeholder-shown) {
    background-position: center right 15px;
  }

  .submit__form-button {
    width: 100%;
    margin-bottom: 15px;
    order: 1;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }

  .submit__checkbox {
    order: 2;
  }

  .agreement {
    margin-top: 0;
    flex-wrap: wrap;
  }

  .cost__title,
  .contacts__title.title {
    font-size: 24px;
    line-height: 34px;
  }

  .reviews__title::before,
  .cost__title::before,
  .contacts__title::before {
    content: "";
    background: url("../img/line-cont-mob.svg");
    width: 4px;
    height: 20px;
    margin-right: 7px;
  }

  .socials__item {
    width: 265px;
  }

  .socials__item:last-child {
    margin-bottom: 60px;
  }

  .socials__link.whatsup {
    text-decoration: underline;
  }

  .contacts__content {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 10px;
  }

  .header__wrapper {
    background: url("../img/olga_photo-mob.svg") no-repeat top 180px left;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
    position: fixed;
    top: 22px;
    right: 10px;
  }

  .header__burger:hover {
    opacity: 0.75;
  }

  .mobile__list {
    margin-bottom: 159px;
  }

  .mobile__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .mobile__nav-close:hover {
    opacity: 0.75;
  }

  .nav-mobile {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../img/bg_menu.svg") no-repeat;
    background-size: cover;
    z-index: 10;
    padding-top: 75px;
    padding-left: 50px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .nav-mobile_active {
    transform: translateX(0);
  }

  .mobile__item {
    margin-bottom: 12px;
  }

  .mobile__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    text-decoration: none;
  }

  .mobile__link:hover {
    border-bottom: 2px solid #ffffff;
  }

  .mobile__contacts {
    flex-wrap: wrap;
  }

  .mobile__contacts-item {
    margin-bottom: 5px;
  }

  .mobile__contacts-item:last-child {
    margin-bottom: 10px;
  }

  .mobile__contacts-socials {
    margin-right: 10px;
  }

  .mobile__contacts-link {
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
  }

  .about__text {
    width: 300px;
  }

  .principles__list {
    width: auto;
  }

  .cost__row {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  .cost__item.main {
    display: block;
  }

  .cost__mobile_active,
  .mobile-first_active,
  .mobile-second_active,
  .mobile-third_active,
  .mobile-fourth_active,
  .mobile-fifth_active {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #e6f5ff;
    border-radius: 8px;
    margin-top: 15px;
    padding-left: 20px;
  }

  .cost__mobile-item {
    width: 100%;
    margin-bottom: 7px;
  }

  .cost__mobile-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #1a1a1a;
    margin-bottom: 3px;
  }

  .cost__mobile-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #727181;
  }

  .cost__burger {
    display: block;
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url("../img/plus.svg") no-repeat center;
  }

  .cost__burger:hover {
    cursor: pointer;
    /* border: 2px solid #1a1a1a;
    border-radius: 50%; */
  }

  .cost__burger_active,
  .burger-first_active,
  .burger-second_active,
  .burger-third_active,
  .burger-fourth_active,
  .burger-fifth_active {
    width: 18px;
    height: 18px;
    background: url("../img/minus.svg") no-repeat center;
  }

  .cost__item {
    display: none;
  }

  .cost__info {
    width: auto;
  }

  .write-me__content {
    background: url(../img/bg1-mob.svg) no-repeat center;
    background-size: cover;
    height: 421px;
    border-radius: 8px;
    flex-wrap: wrap;
    align-items: center;
  }

  .write-me__text {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .write-me__form {
    margin: 0 auto;
  }

  .write-me__button {
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .write-me__button a {
    font-size: 14px;
    line-height: 19px;
  }

  .customers {
    margin-bottom: 70px;
  }

  .owl-theme .owl-nav {
    margin-top: 0;
  }

  .customers .owl-carousel .owl-nav button.owl-prev,
  .customers .owl-carousel .owl-nav button.owl-next {
    top: 92%;
  }

  .customers .owl-carousel .owl-nav button.owl-prev {
    left: 20%;
  }

  .customers .owl-carousel .owl-nav button.owl-next {
    right: 20%;
  }

  .submit {
    margin-bottom: 50px;
  }

  .submit__content {
    background: url(../img/bg-form-mob.svg) no-repeat center;
    background-size: cover;
    border-radius: 8px;
  }

  .submit__form {
    width: 270px;
    margin: 0 10px;
  }

  .submit__text {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .submit__title {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  .submit__subtitle {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    padding-top: 0;
    margin-bottom: 0;
    height: 100px;
  }

  .agreement {
    margin-bottom: 28px;
  }

  .submit__checkbox {
    width: 100%;
  }

  .contacts__image img {
    display: none;
  }

  .contacts__content {
    background: url("../img/illustration-mob.png") no-repeat center right;
    margin-right: -10px;
    padding-top: 15px;
  }

  .socials__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
  }

  .footer__content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__information {
    flex-wrap: wrap;
  }

  .footer__logo {
    margin-bottom: 21px;
  }

  .footer__info-item {
    margin-bottom: 20px;
    margin-right: 35px;
  }

  .footer__info-item:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}

/* слайдер отзывов адаптив */

@media screen and (max-width: 1229px) {
  .reviews .owl-theme .owl-nav {
    right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .reviews {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .reviews {
    margin-bottom: 40px;
  }

  .reviews__item {
    padding: 15px;
  }

  .reviwes__devider {
    margin-bottom: 5px;
  }

  .reviwes__item-text {
    height: 320px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -1%;
  }

  .reviwes__item-author {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -1%;
  }

  .reviwes__item-position {
    width: 200px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -1%;
  }
}

@media screen and (max-width: 430px) {
  .reviews__item {
    width: 280px;
    height: 470px;
  }
}

/* слайдер клиентов адаптив */

@media screen and (max-width: 1139px) {
  .customers__logos {
    width: 650px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
  }

  .customers__link.first,
  .customers__link.second,
  .customers__link.fourth,
  .customers__link.fifth {
    margin: 0;
  }
}

@media screen and (max-width: 659px) {
  .customers__logos {
    width: 295px;
    padding: 0;
    justify-content: space-evenly;
  }

  .customers__link {
    width: 100px;
  }

  .customers__link:nth-child(n) {
    margin-right: 50px;
  }

  .customers__link:nth-child(2n) {
    margin-right: 0;
  }
}

/* хедер адаптив */
@media screen and (max-width: 1200px) {
  .header__logo {
    margin-right: 0;
  }

  .header__titles {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header__wrapper {
    background: url("../img/olga_photo-mob.svg") no-repeat top 210px left;
  }
}

@media screen and (max-width: 399px) {
  .header__wrapper {
    background: url("../img/olga_photo-mob.svg") no-repeat top 230px left;
  }
}

/* заголовок h1 адаптив */

@media screen and (max-width: 1080px) {
  .header__title {
    max-width: 500px;
  }
}

/* футер адаптив */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
  }

  .footer__info-item {
    line-height: 16px;
  }

  .footer__info-item.first {
    margin-bottom: 6px;
  }
}
